<div class="d-flex justify-content-center align-items-center vh-100 pb-5">
    <div class="card border-primary shadow animate__animated  animate__fadeInDown" [style.width.px]="500">
       <div class="card-body">
            <h4 class="card-title text-primary">Registration</h4>
            <hr>
            <form [formGroup]="form">
                <div class="row g-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input formControlName="firstName" type="text" class="form-control text-capitalize" id="firstName" placeholder="John">
                            <label for="firstName" class="form-label">First Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input formControlName="lastName" type="text" class="form-control text-capitalize" id="lastName" placeholder="Doe">
                            <label for="lastName" class="form-label">Last Name</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-floating mb-3">
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
            </form>
            <hr>
            <div class="d-grid  gap-4">
                <button (click)="registerAsync()" class="btn btn-primary w-100" type="button">Register</button>
                <a role="button" (click)="navigate('/auth/sign-in')" class="btn btn-link text-center text-muted" [ngStyle]="{'text-decoration': 'none'}"><small>Already have an account? Click here.</small></a>
            </div>
       </div>
    </div>
</div>
