<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">EXAM DEMO APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/auth/sign-out']" routerLinkActive="router-link-active" >Logout</a>
          </li>
        </ul>       
      </div>
    </div>
</nav>


<table mat-table #table [dataSource]="users.data" class="w-100 shadow">
  <ng-container [matColumnDef]="column.field" *ngFor="let column of users.column">
      <th mat-header-cell *matHeaderCellDef> {{ column.displayName }} </th>

      <ng-container [ngSwitch]="true">
        <ng-container *ngSwitchCase="['index'].includes(column.field)">
          <td mat-cell  *matCellDef="let row; index as i"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container *ngSwitchCase="['createdAt'].includes(column.field)">
          <td mat-cell  *matCellDef="let row"> {{ row[column.field] | date:'medium' }} </td>
        </ng-container>
        <ng-container *ngSwitchCase="['firstName', 'lastName'].includes(column.field)">
          <td mat-cell  *matCellDef="let row"> {{ row[column.field] | titlecase }} </td>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <td mat-cell  *matCellDef="let row"> {{ row[column.field] }} </td>
        </ng-container>
        
      </ng-container>

      <!-- <td mat-cell *matCellDef="let row"> {{ row[column.field] }} </td> -->
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <pre>
    {{ users.data | json }}
</pre> -->