/*! `Hootstrap` Bootstrap 5 theme */
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
// $font-family-base:Open Sans;
// @import url(https://fonts.googleapis.com/css?family=Autour+One:200,300,400,700);
// $headings-font-family:Autour One;

// $enable-grid-classes:false;
// $primary:#528078;
// $secondary:#eed75a;
// $success:#FEC100;
// $danger:#703B3B;
// $info:#63e792;
// $warning:#FFE869;
// $light:#FDFBF7;
// $dark:#555555;
// @import "bootstrap";

/*! `Herbie` Bootstrap 5 theme */
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);
$font-family-base:Nunito;
@import url(https://fonts.googleapis.com/css?family=Crete+Round:200,300,400,700);
$headings-font-family:Crete Round;

$enable-grid-classes:false;
$primary:#083358;
$secondary:#F67280;
$success:#0074E4;
$danger:#FF4057;
$info:#74DBEF;
$warning:#FC3C3C;
$light:#F2F2F0;
$dark:#072247;
@import "bootstrap";

// Add SASS theme customizations here..